################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Step03/.vs/Step03/v16/ipch
*.ipch
*.db
/Step07/
